{% extends "layout.html" %}
{% block body %}
  <div class="container">
    <h1>Balance Sheet <small>at {{ balance_sheet.date }}</small></h1>

    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <h2>Assets</h2>

        <table class="table">
          <thead>
            <tr>
              <th class="number">Number</th>
              <th>Name</th>
              <th class="balance">Balance</th>
            </tr>
          </thead>
          <tbody>
            {% for account, balance in balance_sheet.asset.iteritems() %}
              <tr>
                <td class="number">{{ account.code }}</td>
                <td>{{ account.name }}</td>
                <td class="balance">{{ balance | monetize }}</td>
              </tr>
            {% endfor %}
            <tr class="total">
              <td></td>
              <td>Total Assets</td>
              <td class="balance">{{ balance_sheet.total_assets | monetize }}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="col-xs-12 col-sm-6">
        <h2>Liabilities</h2>

        <table class="table">
          <thead>
            <tr>
              <th class="number">Number</th>
              <th>Name</th>
              <th class="balance">Balance</th>
            </tr>
          </thead>
          <tbody>
            {% for account, balance in balance_sheet.liability.iteritems() %}
              <tr>
                <td class="number">{{ account.code }}</td>
                <td>{{ account.name }}</td>
                <td class="balance">{{ -balance | monetize }}</td>
              </tr>
            {% endfor %}
            <tr class="total">
              <td></td>
              <td>Total Liabilities</td>
              <td class="balance">{{ balance_sheet.total_liabilities | monetize }}</td>
            </tr>
          </tbody>
        </table>

        <h2>Equity</h2>

        <table class="table">
          <thead>
            <tr>
              <th class="number">Number</th>
              <th>Name</th>
              <th class="balance">Balance</th>
            </tr>
          </thead>
          <tbody>
            {% for account, balance in balance_sheet.equity.iteritems() %}
              <tr>
                <td class="number">{{ account.code }}</td>
                <td>{{ account.name }}</td>
                <td class="balance">{{ -balance | monetize }}</td>
              </tr>
            {% endfor %}
            <tr>
              <td class="number"></td>
              <td>Retained Earnings</td>
              <td class="balance">{{ balance_sheet.retained_earnings | monetize }}</td>
            </tr>
            <tr class="total">
              <td></td>
              <td>Total Equity</td>
              <td class="balance">{{ balance_sheet.total_equity | monetize }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}
